:root[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --link-color: #81d4fa;
    --link-hover-color: #4ac1f7;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}
